<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos de notre boutique</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Apropos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/sebcookie.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <!-- Logo et titre du site + bandeau navigation-->
        {% include 'navigation.html' %}
    </header>
    
    <main>
        <h2>Histoire de notre boutique</h2>
        <section>
            <h3>Avril 2024 : Lancement de notre entreprise avec son site web (local)</h3>
            <h3>Début Juin 2024 : Réalisation du site web (routes) sous Flask</h3>
            <h3>Mi Juin 2024 : Relier le site à la database pour les admins & clients</h3><br>
            <h1>Aujourd'hui : Soutenance du projet</h1>
            <img src="{{ url_for('static', filename='img/cookiehistoire.jpg') }}" alt="Cookie Histoire" style="width: 50%;">
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 S-crewkie. Tous droits réservés.</p>
    </footer>
</body>
</html>
