<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/commandes.css') }}">
{% if user_data is none %}
    <p>Vous devez être connecté pour accéder à cette page.</p>
{% else %}
<header>
  {% include 'navigation.html' %}
</header>
    <h1>Mes commandes</h1>
    {% if id|length == 0 %}
        <p>Vous n'avez aucune commande.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Utilisateur concerné</th>
                    <th>Services concerné</th>
                    <th>Devis</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(id|length) %}
                    <tr>
                        <td>{{ id[i] }}</td>
                        <td>{{ user_id[i] }}</td>
                        <td>{{ services_id[i] }}</td>
                        <td>{{ devis[i] }}</td>
                        <td>{{ prix[i] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}
